<h2>Artists <%= link_to "(+)", new_artist_path%></h2>

<ul>
  <% @artists.each do |artist| %>
    <li>
    
      <%= link_to artist.name, 
          artist_path(artist), 
          class: "img img-2x", 
          id: artist.name %>
    </li>
  <% end %>
</ul>
